<!-- Flexbox layout container -->
<div class="flex min-h-screen">
  <!-- Sidebar container -->
  <div class="flex-shrink-0">
    <app-sidebar-dashboard (sidebarCollapsedChange)="onSidebarCollapsedChange($event)" />
  </div>
  
  <!-- Main content area -->
  <div class="flex-1 transition-all duration-300 mt-[80px] min-h-screen bg-opacity-95 relative">
    <div 
      class="h-full"
      [ngClass]="{
        'p-4': true,
        'md:p-8': true
      }"
    >
      <div 
        class="glass-card relative rounded-xl shadow-xl shadow-primary/5 border border-gray-800/30 h-full"
        [ngClass]="{
          'p-4': true,
          'md:p-6': true
        }"
      >
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
